{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["import", "react", "react-hooks", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "prettier"
  ],
  "settings": {
    "ecmascript": 8,
    "jsx": true,
    "import/resolver": {
            "node": {
                "extensions": [".js"]
            }
        }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": false
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": 0,
    "function-paren-newline": 0,
    "react/jsx-one-expression-per-line": "off",
    "space-before-function-paren": "off",
    "implicit-arrow-linebreak": "off",
    "no-shadow": "off",
    "no-tabs": "off",
    "no-var": 1,
    "import/extensions": 1,
    "import/no-named-as-default": 0,
    "indent": "off",
    "react/jsx-indent": [0],
    "react/jsx-indent-props": [0],
    "no-console": "off",
    "no-debugger": "off",
    "arrow-body-style": ["off", "as-needed"],
    "react/static-property-placement": ["off"],
    "react/state-in-constructor": ["off"],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/control-has-associated-label": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "react/destructuring-assignment": [0, "never"],
    "react/jsx-closing-bracket-location": [0],
    "react/jsx-closing-tag-location": [0],
    "react/jsx-curly-newline": [0],
    "react/jsx-curly-spacing": [0],
    "react/jsx-equals-spacing": [0],
    "react/jsx-first-prop-new-line": [0],
    "react/jsx-max-props-per-line": [0],
    "react/jsx-props-no-multi-spaces": [0],
    "react/jsx-tag-spacing": [0],
    "react/jsx-wrap-multilines": [0],
    "react/button-has-type": [0],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "class-methods-use-this": [0],
    "import/prefer-default-export": [0]
  }
}
