@font-face {
  font-family: 'Open Sans Condensed';
  src: url('./assets/OpenSansCondensed-Light.woff') format('woff');
  src: url('./assets/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}